<ion-header>
  <ion-toolbar class="title">
    <ion-buttons slot="start">
      <button class="backArrow" (click)="backClicked()">
        <img src="../../assets/img/back-arrow.svg">
      </button>
    </ion-buttons>
    <ion-title>Equipo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="info">
  <div>
    <p>
      Llegó el día. Nuestro proyecto de fin de bootcamp se tenía que hacer realidad. Vino entonces un punto crítico,
      pelín
      caótico en el que no teníamos limitaciones pero,
      ¿qué hacer? E hicimos un casi interminable brainstroming con millones de ideas (algunas útiles pero no viables
      para nuestro nivel de código, otras, ideas locas).
    </p>
    <p>
      Pero cuando el tiempo jugaba en nuestra contra y nos
      veíamos con la típica aplicación en el que sólo volcar lo que habíamos aprendido, se nos ocurrió la idea de
      Pooppy; una aplicación mobile desarrollada en Ionic. Cumple, como muchas, de cubrir una necesidad. Nosotras,
      apasionadas de los perros y ciudadas cívicas que recogen sus deshechos. Sabíamos que existen papeleras con
      bolsas pero ¿dónde? ¿cómo saber si esa papelera tiene o no bolsas? Hicimos un pequeño estudio de mercado y nos
      dimos cuenta de que el Ayuntamiento de Madrid disponía de una App pero que sólo localizaba las papeleras (como
      un viejo mapa de carreteras) y nos planteamos, ¿por qué no la mejoramos para que nos sirva? Si nos sirve a
      nosotros, podrá ayudar a más gente. Y en esas andamos. Código para arriba, código para abajo con la única idea
      de que os sea útil.
    </p>
    <p>
      Si habéis leído hasta aquí, significa que os habéis bajado la APP y estáis funcionando con ella. Os damos un
      enorme GRACIAS, de esos con achuchón incluído si os gusta. Esperamos cumplir con las expectativas que tenías
      cuando le diste al botón de descargar. Si no es así, por favor, dinos y estaremos encantadas de mejorarlo,
      porque seguimos así, aprendiendo todo el rato.
    </p>
    <img src="../assets/img/pooppyDevelopers.jpeg">
  </div>
</ion-content>