.favorite-tab {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  z-index: 1;
  background-color: var(--white);
  transition: 0.8s bottom ease-in-out;
  text-align: left;
  p {
    font-weight: var(--font-medium);
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid var(--dark-gray);
    text-transform: capitalize;
  }
}
.buttons {
  height: 120px;
  margin-bottom: 2%;
  .favorite {
    width: 40%;
    outline: none;
    background-color: var(--blue);
    margin-left: 2%;
    border-radius: 12px;
    opacity: 0.3;
    transition: opacity 0.8s;
    .imgStar {
      width: 60px;
      margin: 0 auto;
      img {
        margin: 20px 0;
      }
    }
    &.shine {
      transition: all 0.8s;
      opacity: 1;
    }
  }

  .bags {
    width: 52%;
    margin: 4% 0 5% 3%;
    background-color: rgba(112, 204, 198, 0.15);
    border-radius: 10px;
    position: relative;
    outline: none;
    &.red {
      background-color: rgba(214, 113, 113, 0.15);
    }
    img {
      width: 70px;
      position: absolute;
      top: 15px;
      left: 30px;
      z-index: 1;
      transition: 0.8s all;
      &.red {
        left: 90px;
        transition: 0.8s all;
      }
    }
    svg {
      width: 100px;
      opacity: 0.5;
      fill: var(--blue);
      &.red {
        fill: var(--red);
      }
    }
  }
  .bagsOn {
    width: 52%;
    margin: 4% 0 5% 3%;
    background: #f2f2f2;
    border-radius: 10px;
    img {
      width: 70px;
      position: absolute;
      top: 90px;
      left: 40px;
      transition: 0.8s left;
    }
    svg {
      width: 100px;
    }
  }
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  text-align: center;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}
.switch-input {
  display: none;
}
/* mueve la bola a no a la izquierda */
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 50%;
  background: red;
}
/*       bola grande*/
.switch-selection {
  position: absolute;
  z-index: 1;
  top: -18px;
  left: 0%;
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 100px;
  background: var(--blue);
  opacity: 5;
}
.switch {
  position: relative;
  height: 40px;
  width: 80%;
  margin: 20px auto;
  background: var(--blue);
  opacity: 0.4;
  border-radius: 30px;
}

.hide {
  position: absolute;
  bottom: -200px;
  transition: 0.8s bottom ease-in-out;
}
