<div [className]="binInfo ? 'favorite-tab' : 'hide'">
  <div *ngIf="binInfo">
    <p>{{binInfo.address[0].addressName}}</p>
  </div>
  <div class="buttons">
    <!-- <button class="bags" (click)="changeBinBag(selectedBinId)">
      <div class="container">
        <div class="switch">
          <input type="radio" class="switch-input" name="view" value="week" id="week" checked>
          <label for="week" class="switch-label switch-label-off">ON</label>
          <input type="radio" class="switch-input" name="view" value="month" id="month">
          <label for="month" class="switch-label switch-label-on">OFF</label>
          <span class="switch-selection"></span>
        </div>
      </div>
    </button> -->
    <button *ngIf="binInfo" (click)="changeBinBag(selectedBinId)" class="bags" [ngClass]="{ 'red': !binInfo.bag }">
      <img *ngIf="binInfo.bag" src="../../assets/img/poo.svg">
      <img class="red" *ngIf="!binInfo.bag" src="../../assets/img/poo_red.svg">
      <svg [ngClass]="{ 'red': !binInfo.bag }" width="205" height="97" viewBox="0 0 205 97" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd"
          d="M162.794 97H42.2059C18.6912 97 0 75.5214 0 48.5C0 21.4786 18.6912 0 42.2059 0H162.794C186.309 0 205 21.4786 205 48.5C205 75.5214 186.309 97 162.794 97Z" />
      </svg>
    </button>
    <button class="favorite" [ngClass]="{ 'shine': userHasFavorite }" (click)="addFavorite(userId, selectedBinId)">
      <div class="imgStar">
        <img src="../../assets/icon/starFavorites.png">
      </div>
    </button>
  </div>
</div>