<ion-content padding center text-center>
  <ion-list class="login">
    <div class="avatarCircle"></div>
    <img class="iconDog" src="../assets/img/dog.svg">
    <ion-item>
      <img class="iconLog" src="../assets/icon/emailIcon.png">
      <input class="exampleText" type="text" [(ngModel)]=user.email placeholder="EMAIL">
    </ion-item>
    <ion-item>
      <img class="iconLog" src="../assets/icon/password_Icon.png">
      <input class="exampleText" placeholder="CONTRASEÑA" type=password [(ngModel)]=user.password>
    </ion-item>
    <button class="button" (click)="onSubmitLogin()" expand="block" *ngIf="checkMail">Entra
    </button>
    <button class="button" color="primary" (click)="onSubmitLogin()" expand="block" *ngIf="!checkMail"> Regístrate
    </button>
  </ion-list>
</ion-content>
<ion-footer>
  <div *ngIf="checkMail" class=notRegistered>¿AÚN NO TE HAS REGISTRADO?<a (click)="goRegister()">Regístrate</a>
  </div>
  <div *ngIf="!checkMail" class=notRegistered>¿YA TIENES UNA CUENTA?<a (click)="goLogin()">INICIA SESIÓN</a>
  </div>
</ion-footer>