<ion-header>
  <ion-toolbar class="title">
    <ion-buttons slot="start">
      <button class="backArrow" (click)="backClicked()">
        <img src="../../assets/img/back-arrow.svg">
      </button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="info">
  <div>
    <h2>I. Condiciones Generales</h2>
    <p>1. Objeto, modificaciones y prestaciones</p>
    <p>1.1. Las presentes Condiciones Generales, las correspondientes descripciones de prestaciones y las listas de
      tarifas, que en cada caso se establezcan, regularán la prestación por parte de IPHONEDROID para ello se pone a
      disposición de los usuarios la aplicación denominada Pooppy.</p>
    <p>Pooppy es un Sistema de Software para la generación automática de aplicaciones móviles sobre múltiples
      plataformas para smartphones y tabletas. Se trata de una herramienta desarrollada por IPHONEDROID que facilita a
      los usuarios crear una aplicación nativa para dispositivos móviles y tabletas sin necesidad de tener conocimientos
      tecnológicos específicos.
      Para el correcto desarrollo de la aplicación IPHONEDROID pondrá a disposición de EL CLIENTE un ASISTENTE en el que
      se incluirán como mínimo las siguientes funcionalidades:
    </p>
    <p>Los servicios , así como otros servicios que en un futuro se pudieren ofrecer al CLIENTE , se harán a cambio de
      la correspondiente remuneración a satisfacer por éste. Dichos Servicios conferirán al CLIENTE un derecho de uso de
      Octopuss Apps, sometido a los plazos, condiciones y términos de las presentes condiciones generales que en su
      caso,
      se establezcan.</p>

    <p>1.2. IPhonedroid podrá modificar el contenido de las presentes Condiciones Generales mediando la aceptación del
      CLIENTE; en la comunicación remitida a estos efectos, Iphonedroid facilitará al CLIENTE la información relativa a
      la modificación así como las consecuencias de su no oposición. La aceptación de la modificación de las Condiciones
      Generales se considerará dada siempre que EL CLIENTE no la rechace en el plazo de cuatro semanas tras la recepción
      de la comunicación notificando la modificación. En caso de que el CLIENTE comunique su rechazo a Iphonedroid
      dentro
      de dicho plazo, las Condiciones Generales bajo las cuales contrató permanecerán vigentes.</p>

    <p>1.3. Las presentes Condiciones Generales prevalecerán sobre cualquier condición general que pudiera alegar el
      CLIENTE, salvo pacto expreso en contrario en el que se haga constar por escrito su aceptación por parte de
      Iphonedroid.</p>

    <p>2. Derechos y obligaciones de las partes
      a) CLIENTE</p>

    <p>2.1. El CLIENTE tendrá derecho a utilizar Pooppy conforme a las Condiciones Generales que en cada caso se
      acuerden.</p>

    <p>2.2. El CLIENTE deberá utilizar el Pooppy conforme a las condiciones pactadas entre las partes, a la
      legislación vigente y a la buena fe.</p>

    <p>2.3. El CLIENTE deberá satisfacer la remuneración pactada para cada Servicio o Servicios en los términos y formas
      contenidos en las Condiciones Particulares y listas de precios.</p>

    <p>2.4. El CLIENTE deberá facilitar a IPHONEDROID sus datos correctos y completos. Se obliga, por tanto, a informar
      a IPHONEDROID de forma inmediata sobre cualquier modificación de los datos facilitados y a confirmárselos
      nuevamente a Iphonedroid, a petición de ésta, en un plazo de 15 días desde la fecha de la modificación.</p>

    <p>Se deberán facilitarse los siguientes datos:</p>

    <p>Nombre completo, NIF/DNI/CIF, confirmación de que el cliente es mayor de edad, dirección, dirección e-mail,
      teléfono, el titular del servicio, los datos de pago (bien tarjeta de crédito o débito, bien cuenta bancaria) y el
      titular de los datos de pago. En el caso de que el CLIENTE sea una persona jurídica, se facilitará también su
      forma legal.</p>

    <p>2.5. El CLIENTE tiene la total responsabilidad sobre el uso de Pooppy, de la información transmitida y
      almacenada, de su explotación, de las reivindicaciones de terceros y de las acciones legales que su actuación
      pudiera desencadenar. En definitiva, el CLIENTE es responsable del cumplimiento de las leyes y reglamentos que
      sean de aplicación y, de manera meramente enunciativa, de las reglas que tienen que ver con el funcionamiento de
      dicha aplicación, comercio electrónico, derechos de autor, mantenimiento del orden público, así como principios
      universales de uso de Internet.</p>

    <p>2.6. El CLIENTE se abstendrá de usar los Servicios de forma contraria a la buena fe y, en particular, de forma
      meramente enunciativa, no realizará respecto de los mismos:</p>

    <p>Una utilización que resulte contraria a las leyes españolas o que infrinja los derechos de terceros.
      Cualquier publicación o transmisión de contenidos que, a juicio de IPHONEDROID , resulte violento, obsceno,
      abusivo, ilegal, xenófobo o difamatorio.
      El uso de cracks, números de serie de programas o cualquier otro contenido que vulnere derechos de la propiedad
      intelectual de terceros.
      La recogida y/o utilización de datos personales de otros usuarios sin su consentimiento expreso o contraviniendo
      lo dispuesto en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal.
      La utilización del servidor de correo y/o de sus direcciones de correo electrónico con fines de spam, mail
      bombing, phishing, escrow fraud, scam 419, pharming, difusión de virus (troyanos, gusanos, etc.), o cualquier otro
      tipo de actividad realizada con ánimo saboteador, fraudulento o delictivo. En todo caso, el CLIENTE no utilizará
      Pooppy de manera que suponga una carga excesiva para los equipos de Iphonedroid o que de alguna manera perjudique
      el funcionamiento o las operaciones de los equipos o de la red de
      Iphonedroid.</p>

    <p>2.7. El CLIENTE se obliga a adoptar cuantas medidas de seguridad sean convenientes o necesarias para preservar la
      confidencialidad y el secreto de su Usuario (Login) y Contraseña (Password) de acceso al portal de Pooppy, que
      serán, en todo caso, personales e intransferibles.</p>

    <p>2.8. En caso de infracción de cualquiera de las obligaciones indicadas, IPHONEDROID tendrá derecho a resolver el
      contrato con el CLIENTE sin que éste tenga derecho a ninguna reclamación. Igualmente, Iphonedroid tendrá derecho a
      interrumpir el suministro del servicio previa notificación escrita con 48 horas de antelación, que también podrá
      realizarse a través del correo electrónico, y, en su caso, a la cancelación posterior del mismo.</p>

    <p>b) IPHONEDROID</p>

    <p>2.9. IPHONEDROID garantiza que los Servicios contratados serán prestados en la forma prevista en las presentes
      Condiciones Generales.</p>

    <p>2.10 El CLIENTE sólo podrá exigir en función de los servicios contratados</p>

    <p>Gratuito: a través de un foro</p>
    <p>- Consulta por correo electrónico según el tipo de cliente:</p>

    <p> - Clientes Plus, que hayan pagado la cuota anual: 1 consulta.</p>

    <p>
      - Clientes Pro, que hayan pagado la cuota anual: 2
      consultas.
    </p>
    <p>Las consultas se cerrarán en forma de ticket lo que implica que las consultas se resolverán con independencia del
      número de comunicaciones telemáticas necesarias para la resolución de la consulta.</p>

    <p>
      Para los clientes plus y pro el plazo máximo para abrir un ticket no excederá de 48 horas y el plazo máximo para
      cerrarlo dependerá de la dificultad de la consulta.
    </p>

    <p>2.11. El CLIENTE elegirá una tarifa determinada al realizar el pedido. Salvo pacto en contrario,no es posible la
      combinación de ofertas distintas.</p>

    <p>2.12. IPHONEDROID ofrece una garantía de funcionamiento de los Servicios que faculta al CLIENTE a recibir un
      abono total o parcial de las tarifas pagadas en el caso de que se prolonguen en más del doble los periodos
      expuestos.</p>

    <p>
      El incumplimiento por parte de Iphonedroid origina el derecho del CLIENTE a solicitar el ABONO de las tarifas
      pagadas.
    </p>

    <p>
      Los abonos no son canjeables por dinero y no afectan a los impuestos que sean de aplicación. Los abonos no se
      aplicarán a interrupciones causadas por (i) mantenimiento periódico previsto o reparaciones llevadas a cabo de
      cuando en cuando por IPHONEDROID; (ii) falta de disponibilidad causada por el CLIENTE, (iii) incidencias de
      disponibilidad que no limitan el acceso del navegador a la página web del CLIENTE (por ejemplo, interrupciones al
      servicio de ftp o e-mail); (iv) suspensión de la cuenta del CLIENTE debido a acciones legales tomadas o anunciadas
      contra el CLIENTE o sus servicios; (v) suspensión de la cuenta del CLIENTE por violaciones de las Condiciones
      Generales de Contratación, tales como, a título meramente enunciativo, el uso excesivo de los recursos del
      sistema,
      impago o incidencias de pago o identificación de comportamientos fraudulentos o conculcadores de las Condiciones
      Generales de Contratación; o (vi) causas más allá del control de Iphonedroid o que no sean razonablemente
      previsibles por Iphonedroid.
    </p>

    <p>
      2.13. Iphonedroid podrá limitar o interrumpir provisionalmente el acceso del CLIENTE a sus prestaciones cuando lo
      hagan necesario la seguridad del servicio de la red, el mantenimiento de la integridad de la red y, especialmente,
      el evitar interrupciones graves de la red, del Software o datos guardados.
      Dichas interrupciones serán comunicadas, en la medida de lo posible, con la antelación suficiente al CLIENTE
      mediante correo electrónico. La anterior obligación no será exigible a Iphonedroid en caso de fuerza mayor o si se
      produce una caída de la red de datos que sirve de base para la prestación del mismo ajena a su voluntad y control.
      Iphonedroid se reserva el derecho de cancelar definitivamente el antedicho acceso en el supuesto que el CLIENTE
      infrinja gravemente sus obligaciones. A estos efectos, se consideran infracciones graves las referidas en la
      cláusula 2.7 de las presentes Condiciones Generales
    </p>.

    <p>2.14. Iphonedroid no se responsabiliza de:</p>

    <p>
      1. El contenido alojado en el espacio atribuido al usuario por el servicio;2. Los posibles daños en los equipos
      debidos al uso incorrecto de los mismos (que serán responsabilidad del CLIENTE); 3. Los daños debidos a una
      infección por virus de sus equipos;4. Cualquier intromisión ilegítima por parte de un tercero;5. La configuración
      defectuosa por parte del CLIENTE.6. El tiempo de aprobación de la aplicación por parte de las distintas tiendas de
      aplicaciones.
      2.15.Iphonedroid podrá ceder los derechos y obligaciones contenidos en las presentes Condiciones Generales a uno o
      varios terceros. En este caso, el CLIENTE podrá resolver el contrato de manera inmediata.
    </p>

    <p>
      2.16. Iphonedroid elegirá libremente los medios técnicos, que pueden ser relativos a la tecnología y/o
      infraestructura, con el objeto de facilitar el suministro de los servicios prestados.
    </p>

    <p>
      2.17. Iphonedroid no será responsable de los daños y perjuicios de cualquier naturaleza que pudieran causarse a un
      tercero o al CLIENTE como consecuencia de la utilización indebida o ilegítima de los Servicios por parte del
      CLIENTE.
    </p>

    <p>
      2.18. Cualquier reclamación del CLIENTE a Iphonedroid deberá ser presentada de forma escrita, que podrá realizarse
      también mediante correo electrónico si el CLIENTE añade a la reclamación su nombre completo, NIF/DNI/CIF,
      dirección,
      dirección e-mail, teléfono así como el titular del servicio, y provee al documento electrónico de una firma
      electrónica, conforme a la normativa vigente. Queda excluida la reclamación de defectos e interrupciones no
      avisadas
      a tiempo.
      La reclamación debe dirigirse a la siguiente dirección postal:
    </p>

    <p>
      XXXX S.L.
      C/ XXXXX
      28000 Madrid
    </p>

    <p>
      Tras la notificación a Iphonedroid de los defectos e interrupciones, objetos de la reclamación, el CLIENTE
      concederá
      a Iphonedroid un plazo de 20 días para reestablecer el correcto funcionamiento del servicio. Durante este plazo,
      el
      CLIENTE no podrá ejercer acción alguna contra Iphonedroid ni terminar el contrato por motivo de tales defectos e
      interrupciones.
    </p>

    <p>
      2.19.Iphonedroid responderá en todo caso de los daños producidos como consecuencia de un incumplimiento
      contractual
      que se deba a un comportamiento doloso o gravemente imprudente de Iphonedroid o de una de las personas de las que
      Iphonedroid se sirva para el cumplimiento de sus obligaciones. Si el incumplimiento contractual no se produce de
      forma gravemente imprudente ni dolosa, la responsabilidad de Iphonedroid quedará limitada a la cuantía de los
      daños
      previstos o que se hubieran podido prever a la celebración del contrato.
      En cualquier caso, y salvo disposición legal imperativa en contra, la cuantificación de la antedicha
      responsabilidad
      se limitará a la contraprestación efectivamente abonada por el CLIENTE a Iphonedroid por los Servicios
      contratados.
    </p>

    <p>
      3. Licencias, Propiedad Intelectual
      Iphonedroid es titular o, en su caso, está autorizado para su uso por el legítimo titular, de todos los derechos
      de
      autor, marcas, derechos de propiedad intelectual, know-how y cuantos otros derechos guarden relación con los
      servicios contratados por el CLIENTE, así como de los programas de ordenador necesarios para su implementación y
      la
      información que éste obtenga sobre el mismo
      El CLIENTE debe respetar los programas de uso de terceros puestos a su disposición por Iphonedroid aunque fueran
      gratuitos, de los cuales Iphonedroid dispone de los derechos de explotación necesarios.
      El CLIENTE, en virtud de las presentes Condiciones Generales, no adquiere absolutamente ningún derecho o licencia
      sobre los Servicios prestados, sobre los programas de ordenador necesarios para la prestación de los Servicios,
      sobre la aplicación generada ni tampoco sobre la información técnica de seguimiento de los Servicios, excepción
      hecha de los derechos y licencias necesarios para el cumplimiento con las presentes Condiciones Generales y
      únicamente para la duración temporal de los Servicios contratados.
      El CLIENTE se compromete a garantizar que cualquier persona usuaria de los programas respete las condiciones de
      uso
      de los mismos. No se considerará usado un programa que únicamente se encuentre instalado en un servidor de red a
      los
      únicos efectos de la distribución de programas.
    </p>

    <p>4.- Tarifas y forma de pago</p>
    <p>
      4.1. Las tarifas incluidas en las listas de tarifas son fijas. Las tarifas dependen de la elección de la tarifa
      pactada, contenida en las correspondientes Condiciones Particulares. Si se hubiesen pactado tarifas independientes
      del uso, Iphonedroid podrá establecer un sistema de prepago. Las tarifas que estén relacionadas con el uso o
      consumo
      serán facturadas después de haberse realizado la prestación.
    </p>

    <p>
      4.2. IPHONEDROID podrá aumentar el importe de las tarifas no más de una vez por año natural con un preaviso de
      cuatro semanas antes del final del año. Para la validez del aumento se requiere el consentimiento del CLIENTE, que
      se tendrá por otorgado si el CLIENTE no declara su disconformidad con dicho aumento, dentro de las cuatro semanas
      siguientes a su notificación por escrito, remitida por correo ordinario o bien a través de https://Pooppy.com.
      Si no declara su disconformidad, tendrá alternativamente el derecho de resolver el contrato durante el mismo
      plazo,
      transcurrido el cual, el contrato continuará su vigencia con las nuevas tarifas notificadas.
    </p>

    <p>
      4.3. Se informará al cliente del precio final, incluyendo los impuestos aplicables, al formalizar el proceso de
      compra y siempre previamente al envío por parte del cliente de su pedido a IPHONEDROID.
    </p>

    <p>
      4.4 Si se produjese una variación en los impuestos aplicables a los servicios pactados, Iphonedroid podrá adaptar
      sus precios en consecuencia.
    </p>

    <p>
      4.5. Las facturas se emitirán y enviarán al CLIENTE por correo electrónico. El CLIENTE acepta el uso del correo
      electrónico como la única vía aplicable para la recepción de las facturas generadas por la prestación de los
      Servicios.
    </p>

    <p>
      4.6. En función del servicio prestado y del método de pago facilitado por Iphonedroid,el pago de las facturas se
      realizará mediante los servicios de Paypal.
    </p>

    <p>
      4.7. En caso de impago de la factura, el CLIENTE sufragará los costes de todos los requerimientos de pago, así
      como
      el coste de la devolución del recibo bancario y todos los demás gastos que se devengasen por dicho motivo
      atribuible
      al CLIENTE, incluidos honorarios y gastos de los abogados de IPHONEDROID. Igualmente la aplicación generada será
      retirada de las distintas tiendas de aplicaciones y EL CLIENTE no podrá realizar ninguna actualización hasta que
      no
      se produzca el pago.
    </p>

    <p>
      4.8 Iphonedroid se reserva el derecho a suspender los Servicios prestados ante cualquier incidencia experimentada
      en
      el cobro de los mismos y/o por falta de pago. Si el CLIENTE no procediera a pagar los Servicios en el plazo de los
      20 días naturales siguientes a la facturación del Servicio, Iphonedroid podrá suspender de forma inmediata el
      mismo
      y proceder simultáneamente a la reclamación de las cantidades debidas, pudiendo con posterioridad resolver el
      contrato con el CLIENTE por incumplimiento.
    </p>

    <p>5. Oferta, formalización y prórroga del contrato</p>
    <p>
      5.1. Después del envío de la solicitud on line por el CLIENTE, Iphonedroid podrá aceptar la solicitud de contrato
      dentro de un plazo de 14 días. Iphonedroid pondrá a disposición del CLIENTE estas Condiciones Generales a las que
      se
      sujetará el contrato, de manera que las mismas puedan ser almacenadas y reproducidas por el mismo. Con
      posterioridad
      a la petición o solicitud antedicha por parte del CLIENTE, Iphonedroid confirmará la contratación mediante el
      envío
      de un e-mail de bienvenida al CLIENTE en que se le informará de la activación de los servicios contratados y los
      detalles de los mismos.
    </p>

    <p>
      5.2. Si el contrato se firmase para un determinado periodo o se hubiera acordado con el CLIENTE un periodo mínimo
      de
      validez, se prorrogará en cada caso por el tiempo acordado o por el periodo mínimo, pero como máximo de un año,
      siempre y cuando no se renuncie con un plazo de cuatro semanas antes del tiempo acordado o de la finalización del
      periodo mínimo. Será de aplicación lo dispuesto en la presente cláusula salvo pacto en contrario contenido en las
      Condiciones Particulares.
    </p>

    <p>6. Terminación del contrato</p>
    <p>
      6.1. El contrato podrá finalizar por el mutuo acuerdo de las partes o mediante la cancelación de los pagos
      mensuales
      o anuales, previo aviso de 15 días.
    </p>

    <p>
      6.2. Iphonedroid podrá resolver el contrato cuando reste por cumplirse un periodo de validez de hasta 3 meses, con
      un preaviso de 15 dias; cuando el periodo restante por cumplir fuese de entre 3 y 6 meses, el preaviso será de 1
      mes.
      Las relaciones contractuales entre Iphonedroid y el CLIENTE que no tuvieran una duración determinada, podrán
      terminarse por cualquiera de las partes en todo momento sin necesidad de justificación alguna.
    </p>

    <p>
      6.3. El CLIENTE dispone además una herramienta online (https….) para gestionar su contrato, a través de la cual
      puede solicitar la baja del contrato al completo o de cualquiera de los servicios asociados al mismo. Dicha
      solicitud de baja generará el envío de un e-mail de confirmación por parte de Iphonedroid, que contendrá un link o
      enlace en el cual el CLIENTE deberá pinchar para que Iphonedroid complete el procedimiento de baja. En cualquier
      caso, la solicitud de baja no generará ningún derecho económico a favor de EL CLIENTE salvo que concurriera alguna
      causa.
    </p>

    <p>
      6.4. Si el CLIENTE solicitase prestaciones adicionales al contrato, será válido para las mismas el periodo
      acordado
      inicialmente en el contrato. Las prestaciones adicionales pueden ser, según las regulaciones de renuncia
      indicadas,
      objeto de renuncia por separado, continuando por lo demás la vigencia del contrato.
    </p>

    <p>
      7. Protección de Datos Personales
      Iphonedroid manifiesta el máximo respeto y otorga una gran importancia a la protección de datos de sus clientes,
      cuyas decisiones sobre el uso de sus datos se respetarán en todo caso.
      Iphonedroid cumple con la Ley Orgánica 15/1999, de Protección de Datos de Carácter Personal y con cualquier otra
      normativa vigente en la materia, y mantiene una Política de Privacidad sobre datos personales, en la que se
      establece, principalmente, el uso que Iphonedroid hace de los datos de carácter personal, se informa a los
      clientes
      detalladamente de las circunstancias esenciales de dicho uso y de las medidas de seguridad que se aplican a sus
      datos de carácter personal para evitar que terceros no autorizados puedan acceder a ellos.
    </p>

    <p>8. Derecho de desistimiento</p>
    <p>
      8.1. Cuando el CLIENTE sea un consumidor y el contrato se celebre sin la presencia física simultánea del CLIENTE y
      de Iphonedroid (venta a distancia), el CLIENTE gozará del derecho de desistimiento descrito en esta sección.
    </p>

    <p>
      8.2. El CLIENTE dispondrá de un plazo máximo de catorce días para desistir del contrato mediante declaración por
      escrito, remitida por fax, correo ordinario a la dirección Iphonedroid, mencionando los datos referidos en la
      cláusula 2.5, así como los propios del Servicio (identificador de cliente y número/s de contrato/s). El plazo para
      ejercer el derecho de desistimiento, que no implicará penalización alguna o necesidad de indicación de los
      motivos,
      empezará a correr desde el día de la celebración del contrato.
    </p>

    <p>
      8.3. El derecho de desistimiento del CLIENTE se extingue anticipadamente si Iphonedroid, contando con el
      consentimiento expreso del CLIENTE o a iniciativa de éste, ya ha comenzado con la prestación del servicio
      contratado
      antes de la expiración del plazo de desistimiento. El CLIENTE no tiene derecho de desestimiento si Iphonedroid le
      suministra mercancías elaboradas de acuerdo con las especificaciones del CLIENTE o que estén diseñadas claramente
      en
      función de sus necesidades o si el CLIENTE mismo ha ordenado la prestación de un servicio antes de la expiración
      del
      plazo de desistimiento (por ejemplo, registro inmediato de un dominio a petición del CLIENTE).

    </p>
    <p>
      9. Periodo de garantía
      Iphonedroid concede al CLIENTE un periodo de garantía de 30 días contados a partir de la fecha de registro en el
      servicio, en los que en caso de no estar satisfecho con el producto o el servicio de Iphonedroid, podrá terminar
      el
      contrato.
    </p>

    <p>
      Esta garantía únicamente se concede para servicios/contratos de duración indeterminada. Al mismo tiempo, no podrá
      ser aplicable en ningún caso para los servicios contratados a través de ofertas promocionales. El periodo de
      garantía no será de aplicación para los servicios de servidores.
    </p>

    <p>10. Legislación aplicable y fuero</p>
    <p>
      10.1. En lo previsto en las presentes Condiciones Generales, así como en la interpretación y resolución de
      conflictos que pudieran surgir entre las Partes, será de aplicación la legislación española.
    </p>

    <p>
      10.2. Las Partes se someten para la resolución definitiva de todas las controversias resultantes de la relación
      contractual a los juzgados o tribunales que resultaran competentes en cada caso.
    </p>

    <p>
      11. Nulidad
      En caso de que una o varias de las estipulaciones de las presentes Condiciones Generales resultasen nulas, la
      validez del resto no quedará afectada.
    </p>
  </div>


</ion-content>